# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space
indent_size = 4

# XAML files
[*.xaml]
indent_style = space
indent_size = 2

[*.cs]

# CS3008: Identifier is not CLS-compliant
dotnet_diagnostic.CS3008.severity = none
dotnet_diagnostic.Localize_or_Mark_CS.severity = none
